.next/
out/
node_modules/
.env*
!.env.example
**/.env
**/.env.*
!**/.env.example
data/
deploy/hk/.env.server
deploy/build/.env
deploy/deploy-hk.sh
deploy/deploy.sh
/director/
tmp/
*.log
*.tsbuildinfo
.DS_Store
.idea
*.exe
*.exe~
*.tar.gz
freedom-src-latest.tar.gz
